<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
</head>

<body>
    <div id="app">
        <label v-for="item in originalhobbies" :for="item">
            <input type="checkbox" :value="item" :id="item" v-model="hobbies">
            {{item}}
        </label>
        <br>
        您选择的爱好是:{{hobbies}}
    </div>
</body>

</html>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            hobbies: [],
            originalhobbies: ["唱歌", "跳舞", "篮球", "足球", "排球", "爬山"]  //就是动态的给value赋值而已
        }
    })
</script>